/* Global Custom Properties */
:root {
  --color-primary-400: hsl(158, 36%, 37%);
  --color-secondary-200: hsl(30, 38%, 92%);

  --color-neutral-900: hsl(212, 21%, 14%);
  --color-neutral-400: hsl(228, 12%, 48%);
  --color-neutral-100: hsl(0, 0%, 100%);

  --font-weight-regular: 500;
  --font-weight-bold: 700;

  --font-family-base: "Montserrat", sans-serif;
  --font-family-fancy: "Fraunces", serif;
}
/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* General styling */
body {
  background-color: var(--color-secondary-200);
  font-family: var(--font-family-base);
  font-weight: var(--font-weight-regular);
  color: var(--color-neutral-400);

  margin: 1rem;
}

p {
  line-height: 2rem;
}

/* Utilities (Class styling) */
.flex-row-container {
  display: flex;
  flex-wrap: wrap; /* if no more space continue in the next line */
  align-items: center;
  gap: 1rem;
}
.button {
  background-color: var(--color-primary-400);
  color: var(--color-neutral-100);
  font-size: 1rem;
  font-weight: var(--font-weight-bold);
  padding: 1rem;
  border-radius: 0.5rem;
  border: none;
}

/* Component Styling */
/* Product styles */
.product {
  --content-padding: 2rem;
  --content-spacing: 1rem;

  background-color: var(--color-neutral-100);
  border-radius: 0.5rem; /* .5rem compute as 8px in firefox */
  overflow: hidden;
}

.product__main-content {
  display: grid;
  gap: var(--content-spacing);
  padding: var(--content-padding);
}

.product__title {
  font-family: var(--font-family-fancy);
  font-size: 2rem;
  color: var(--color-neutral-900);
}

.product__category {
  order: -1;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
}

.product__actual-price {
  color: var(--color-primary-400);
  font-family: var(--font-family-fancy);
  font-size: 2rem;
  line-height: 3rem;
}

.product__original-price {
  text-decoration: line-through;
}
