/* Global Custom Properties */
:root {
  --color-primary-400: hsl(158, 36%, 37%);
  --color-primary-500: hsl(158, 36%, 20%);
  --color-secondary-200: hsl(30, 38%, 92%);

  --color-neutral-900: hsl(212, 21%, 14%);
  --color-neutral-400: hsl(228, 12%, 48%);
  --color-neutral-100: hsl(0, 0%, 100%);

  --font-weight-regular: 500;
  --font-weight-bold: 700;

  --font-family-base: "Montserrat", sans-serif;
  --font-family-fancy: "Fraunces", serif;
}
/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}

/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* General styling */
body {
  background-color: var(--color-secondary-200);
  font-family: var(--font-family-base);
  font-size: 1rem;
  font-weight: var(--font-weight-regular);
  line-height: 2rem;
  color: var(--color-neutral-400);

  display: grid;
  place-content: center;
  margin: 1rem;
}

/* Utilities Classes styling) */
.flex-row-container {
  display: flex;
  flex-wrap: wrap; /* if no more space continue in the next line */
  gap: 1rem;
}
.flex-align-items-center {
  align-items: center;
}

/* Button */
.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  background-color: var(--color-primary-400);
  color: var(--color-neutral-100);
  font-size: 1rem;
  font-weight: var(--font-weight-bold);
  padding: 1rem;
  border-radius: 0.5rem;
  border: 0;
}
.button:hover {
  background-color: var(--color-primary-500);
}

/* Component Styling */
/* Product styles */
.product {
  --content-padding: 2rem;
  --content-spacing: 1rem;

  display: grid;
  background-color: var(--color-neutral-100);
  border-radius: 0.5rem; /* .5rem compute as 8px in firefox */
  overflow: hidden;
  max-width: 740px;
}

@media (min-width: 600px) {
  /* grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); */
  .product {
    grid-template-columns: 1fr 1fr;
  }
  .product__picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.product__main-content {
  display: grid;
  gap: var(--content-spacing);
  padding: var(--content-padding);
}

.product__title {
  font-family: var(--font-family-fancy);
  font-size: 2rem;
  color: var(--color-neutral-900);
}

.product__category {
  order: -1;
  text-transform: uppercase;
  letter-spacing: 0.5em;
}

.product__actual-price {
  font-family: var(--font-family-fancy);
  font-size: 2rem;
  color: var(--color-primary-400);
  line-height: 3rem;
}

.product__original-price {
  text-decoration: line-through;
}
